[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
numpy = "*"
matplotlib = "==2.0.2"
scikit-image = "*"
tensorflow = "*"
keras = "*"
imgaug = "*"
structlog = "*"

[requires]
python_version = "3.7"
